# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/
build/
dist/
*.egg-info/

# ML/Data
data/generated/
models/saved/
db/*.db
eda/output/
.ruff_cache/

# OS
.DS_Store
Thumbs.db

# Environment
.env
secret.json
